x86
x64
win64
.vs
installer
initrd*
build
core
Servers
.metadata
.cproject
.debug
.project
.settings
.libs
core
Debug
debug
marktemp
missing
m4
*.so
*.a
*.exe
*.dll
*.o
*.lo
*.la
config.cache
config.log
configure.lineno
config.status.lineno
config.guess
config.status
configure
install-sh
libtool
config.lt
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope.out
cscope.in.out
cscope.po.out
cscope.files
ltmain.sh
autom4te.cache
aclocal.m4
.autotools
autotools
Makefile
Makefile.in
.metadata
RemoteSystemsTempFiles
installer
build
sources
Servers
*.log
*.tar.gz
*.zip
lib
include
